[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	email = 3772569+mjnchen@users.noreply.github.com
	name = Martin Chen

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[url "git@github.com:"]
	insteadOf = https://github.com/
