[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	email = 3772569+mjnchen@users.noreply.github.com
	name = Martin Chen

[core]
	editor = vim
