// Zellij configuration
// https://zellij.dev/documentation/configuration

simplified_ui true
on_force_close "detach"
theme "catppuccin-mocha"
pane_frames false
show_startup_tips false
show_release_notes false
